autom4te.cache
glog-*.tar.gz
packages/rpm-unknown
packages/debian-*
CMakeCache.txt
CMakeFiles/
*.cmake
config.h
*.sln
*.vcxproj
*.filters
bazel-*
_gsdata_/
*.vpj
*.vpw
*.vpwhist
*.vpwhistu
*.vtg
.DS_Store
